* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
/history.txt -text
/jripper.jardesc -text
src/com/googlepages/dronten/jripper/Command.java -text
src/com/googlepages/dronten/jripper/Constants.java -text
src/com/googlepages/dronten/jripper/ErrorParserThread.java -text
src/com/googlepages/dronten/jripper/JRipper.java -text
src/com/googlepages/dronten/jripper/LoadDirectoryTask.java -text
src/com/googlepages/dronten/jripper/RipperTask.java -text
src/com/googlepages/dronten/jripper/WholeCDRipperTask.java -text
src/com/googlepages/dronten/jripper/aac/Command.java -text
src/com/googlepages/dronten/jripper/aac/ProgressStreamParser.java -text
src/com/googlepages/dronten/jripper/cdda2wav/Command.java -text
src/com/googlepages/dronten/jripper/cdda2wav/ContentsParserThread.java -text
src/com/googlepages/dronten/jripper/cdda2wav/LoadCDPTask.java -text
src/com/googlepages/dronten/jripper/cdda2wav/LoadCDTask.java -text
src/com/googlepages/dronten/jripper/cdda2wav/ProgressStreamParser.java -text
src/com/googlepages/dronten/jripper/cdda2wav/ScanbusParserStderrThread.java -text
src/com/googlepages/dronten/jripper/cdda2wav/ScanbusParserStdinThread.java -text
src/com/googlepages/dronten/jripper/cdda2wav/ScanbusTask.java -text
src/com/googlepages/dronten/jripper/flac/Command.java -text
src/com/googlepages/dronten/jripper/flac/ProgressStreamParser.java -text
src/com/googlepages/dronten/jripper/freedb/HTTPQuery.java -text
src/com/googlepages/dronten/jripper/freedb/LoadCDTask.java -text
src/com/googlepages/dronten/jripper/freedb/QueryParserThread.java -text
src/com/googlepages/dronten/jripper/gui/AlbumModel.java -text
src/com/googlepages/dronten/jripper/gui/AlbumPanel.java -text
src/com/googlepages/dronten/jripper/gui/ComponentFactory.java -text
src/com/googlepages/dronten/jripper/gui/MainWindow.java -text
src/com/googlepages/dronten/jripper/gui/MenuPanel.java -text
src/com/googlepages/dronten/jripper/gui/StatusBar.java -text
src/com/googlepages/dronten/jripper/gui/TrackPanel.java -text
src/com/googlepages/dronten/jripper/gui/dialog/BaseDialog.java -text
src/com/googlepages/dronten/jripper/gui/dialog/HelpDialog.java -text
src/com/googlepages/dronten/jripper/gui/dialog/ListDialog.java -text
src/com/googlepages/dronten/jripper/gui/dialog/ProgressDialog.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/BaseSetupPanel.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/CDReader.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/Encoder.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/FileNames.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/FreeDB.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/General.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/Program.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/SetupDialog.java -text
src/com/googlepages/dronten/jripper/gui/dialog/setup/Tag.java -text
src/com/googlepages/dronten/jripper/lame/Command.java -text
src/com/googlepages/dronten/jripper/lame/ProgressStreamParser.java -text
src/com/googlepages/dronten/jripper/music/Album.java -text
src/com/googlepages/dronten/jripper/music/DiscID.java -text
src/com/googlepages/dronten/jripper/music/MP3Genre.java -text
src/com/googlepages/dronten/jripper/music/Track.java -text
src/com/googlepages/dronten/jripper/ogg/Command.java -text
src/com/googlepages/dronten/jripper/ogg/ProgressStreamParser.java -text
src/com/googlepages/dronten/jripper/resource/jRipper.icon.png -text
src/com/googlepages/dronten/jripper/util/BaseThread.java -text
src/com/googlepages/dronten/jripper/util/DummyParserThread.java -text
src/com/googlepages/dronten/jripper/util/Log.java -text
src/com/googlepages/dronten/jripper/util/Pref.java -text
src/com/googlepages/dronten/jripper/util/ProcessParam.java -text
src/com/googlepages/dronten/jripper/util/ProcessRunner.java -text
src/com/googlepages/dronten/jripper/util/ProcessRunnerReadFileWriteFile.java -text
src/com/googlepages/dronten/jripper/util/ProcessRunnerReadFileWriteProc.java -text
src/com/googlepages/dronten/jripper/util/ProcessRunnerReadProc.java -text
src/com/googlepages/dronten/jripper/util/ProcessRunnerReadProcWriteFile.java -text
src/com/googlepages/dronten/jripper/util/ProcessRunnerReadProcWriteProc.java -text
src/com/googlepages/dronten/jripper/util/ProcessRunnerReadStdoutAndStderrProc.java -text
src/com/googlepages/dronten/jripper/util/Progress.java -text
src/com/googlepages/dronten/jripper/util/StopWatch.java -text
src/com/googlepages/dronten/jripper/util/StreamParserThread.java -text
src/com/googlepages/dronten/jripper/util/StreamThread.java -text
src/com/googlepages/dronten/jripper/util/ThreadCollector.java -text
test/com/googlepages/dronten/jripper/AllTests.java -text
test/com/googlepages/dronten/jripper/cdda2wav/AllTests.java -text
test/com/googlepages/dronten/jripper/cdda2wav/ScanbusParserStderrThreadTest.java -text
test/com/googlepages/dronten/jripper/cdda2wav/ScanbusParserStdinThreadTest.java -text
test/com/googlepages/dronten/jripper/util/AllTests.java -text
test/com/googlepages/dronten/jripper/util/StringUtilTest.java -text
